:root{
    --white-color:#fff;
    --back-color:#000;
    --text-color:#333;
    --background-color:linear-gradient(
        -180deg
        ,#f53d2d,#f63);
    --primary-color:#f53d2d;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@keyframes eIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}